# Public site key (used in the browser)
NEXT_PUBLIC_HCAPTCHA_SITE_KEY=hcaptcha site key

# Secret key (used server-side to verify tokens)
HCAPTCHA_SECRET_KEY=hcaptcha secret key

NODE_ENV=production

RESEND_API_KEY=resendapikey

# The email address where contact form submissions get sent
ALLOW_PREVIEW=true
CONTACT_TO_EMAIL=example@gmail.com

# Local development Flask API settings (uncomment for local development)
FLASK_API_URL=http://localhost:5000 # you would need the Flask API running locally for this to work.
FLASK_HOST=127.0.0.1                # since the flask source code is closed source, you would need to create the Flask API yourself.
FLASK_PORT=5000                     # that is if i dont decide to open source the Flask API in the future, which is a possibility.

SUPABASE_API_TOKEN=supabasetoken

DISCORD_CLIENT_ID=DISCORDID
DISCORD_CLIENT_SECRET=bot client secret
DISCORD_BOT_TOKEN=bot token

# Owner Discord ID (for owner bypass on //leaked was feature here//)
DISCORD_OWNER_ID=1169959607016374356

UPSTASH_REDIS_REST_URL=https://name.upstash.io
UPSTASH_REDIS_REST_TOKEN=resttoken

NEXT_PUBLIC_SUPABASE_URL = SUPABASEURL
NEXT_PUBLIC_SUPABASE_ANON_KEY = SUAPBASEANONKEY
SUPABASE_SERVICE_ROLE_KEY = SUPABASETOKEN
NEXT_PUBLIC_DISCORD_CLIENT_ID = DISCORDID

NEXT_PUBLIC_PATREON_CLIENT_ID=patreonclientid
NEXT_PUBLIC_PATREON_REDIRECT_URI=http://localhost:3000/auth/patreon/callback
NEXT_PUBLIC_APP_URL=http://localhost:3000

DASHBOARD_API_TOKEN=TOKENFORAPIDASHBAORDFORWEBSITEONLY
NEXT_PUBLIC_DASHBOARD_API_TOKEN=DASHBOARD_API_TOKEN

ENTERPRISE_API_TOKEN=APITOKENHEREFORENTERPRISEWHENUSEINGFORDASHBOARD
ENTERPRISE_API_ORIGIN=https://ENTERPRISEFOREXAMPLE.COM

CRON_SECRET=CRONTSECRETHERE

NEXT_PUBLIC_GOOGLE_ANALYTICS_ID=G-ZYXH52SGET

BYPASS_ENCRYPTION_KEY=BYPASS_ENCRYPTION_KEY_SALT
NEXT_PUBLIC_BUY_DISABLED=true

ALLOW_PREVIEW=true
NEXT_PUBLIC_USER_COUNT=6500
DISCORD_USER_API_URL=https://discordwebsiteyouuseforuserapi.com/api/discord-server-api/user

FLASK_INTERNAL_API_KEY=FLASKKEY

SUPABASE_STORAGE_BUCKET=STORAGENAME